/* styles.css or chambre-list.component.css */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .button-container {
    display: flex;
    gap: 5px;
  }
  
  .button-container button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .edit-button {
    background-color: #5bc0de;
    color: #fff;
  }
  
  .delete-button {
    background-color: #d9534f;
    color: #fff;
  }
  .add-button {
    background-color: #5cb85c;
    color: #fff;
  }